.armman-logo {
	height: 150px;
	width: 220px;
}

.google-logo {
	height: 150px;
	width: 130px;
}

 .iitm-logo {
	height: 150px;
	width: 150px;
}

body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.filterInput {
  width: 10px;
}