<!doctype html>
<html>
<head>
  <title>ARMMAN Dashboard</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <meta name="google-signin-client_id" content="661858690076-9jsh7ot1sa81tgt4psnnnma6t8s2tj75.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169266565-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-169266565-1');
  </script>

</head>
<body onload="isUserSignedIn()">

  <h1>Welcome to the ARMMAN AI Dashboard</h1>
  <img class="armman-logo" src="{{ url_for('static', filename='armman-logo.jpg') }}" alt="ARMMAN logo">
  <br>
  <h2>In partnership with</h2>
  <br>
  <img class="google-logo" src="{{ url_for('static', filename='google-research-logo.png') }}" alt="Google Research logo">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img class="iitm-logo" src="{{ url_for('static', filename='iitm-logo.png') }}" alt="IITM logo">
  <br>
  <br>
  <br>
  <div style="display: inline-block" id="login" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <br>
  <div class="alert alert-danger" id="unauthorized" style="display: none"></div>
  <div id="retrievePredictions" style="display: none">
    <form id="retrievePredictionsForm" action="/retrievePredictions" method="post">
      <button type="button" class="blue waves-effect waves-light btn" onclick="retrievePredictions()">Retrieve Predictions</button>
    </form>
  </div>
  <br>
  <div id="signOut" style="display: none">
    <button class="blue waves-effect waves-light btn" onclick="signOut()">
    Sign Out </button>
  </div>
</body>
</html>