<!doctype html>
<html>
<head>
  <title>ARMMAN MMITRA Dashboard</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


  <meta name="google-signin-client_id" content="413038645050-src4tn8ofm2lj7eiectbah6a1v3r89i4.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169266565-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-169266565-1');
  </script>
</head>
<body>
  <h2>Prediction Results</h2>
  <img class="armman-logo" src="{{ url_for('static', filename='armman-logo.jpg') }}" alt="ARMMAN logo">
  <img class="google-logo" src="{{ url_for('static', filename='google-research-logo.png') }}" alt="Google Research logo">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img class="iitm-logo" src="{{ url_for('static', filename='iitm-logo.png') }}" alt="IITM logo">
  {% if not isUserAuthorized %}
    <div class="alert alert-danger" id="unauthorized">
      {{ authId }} is not authorized to view this application.        
    </div>
  {% else %}
    <h4>Here are the beneficiaries who are at high-risk of dropping off from the mMitra program</h4>
   
    <form id="filterTable">
      <input type="text" class="filterInput" id="filterChannelName" placeholder="Channel Name">
      <input type="text" class="filterInput" id="filterChannelType" placeholder="Channel Type">
      <input type="text" class="filterInput" id="filterIncomeBracket" placeholder="Income Bracket">
      <input type="text" class="filterInput" id="filterCallSlot" placeholder="Call Slot">
      <input type="text" class="filterInput" id="filterEducation" placeholder="Education">
      <input type="text" class="filterInput" id="filterEntryDate" placeholder="Entry Date">
      <button type="button" class="blue waves-effect waves-light btn" onclick="filterTableButton()">Filter</button>
    </form>
    <br>
    <button type="button" class="blue waves-effect waves-light btn" onclick="download_table_as_csv('beneficiariesTable')"><i class="fa fa-download"></i> Download</button>
    <table id="beneficiariesTable" aalign="center">
  	  	<tr>
  	  		<th> Beneficiary ID </th>
  	  		<th> Name </th>
  	  		<th> Phone Number </th>
  	  		<th> Channel Type </th>
  	  		<th> Channel Name </th>
  	  		<th> Income Bracket </th>
  	  		<th> Call Slots </th>
  	  		<th> Entry Date </th>
  	  		<th> NGO Hosp ID </th>
  	  		<th> Education </th>
  	    </tr>
        {% for beneficiary in beneficiaries %}
	  	  	<tr>
	  	  		<td>{{ beneficiary['user_id'] }}</td>
	  	  		<td>{{ beneficiary['name'] }}</td>
	  	  		<td>{{ beneficiary['phone_no'] }}</td>
	  	  		<td>{{ beneficiary['channel_type'] }}</td>
	  	  		<td>{{ beneficiary['channel_name'] }}</td>
	  	  		<td>{{ beneficiary['income_bracket'] }}</td>
	  	  		<td>{{ beneficiary['call_slots'] }}</td>
	  	  		<td>{{ beneficiary['entry_date'] }}</td>
	  	  		<td>{{ beneficiary['ngo_hosp_id'] }}</td>
	  	  		<td>{{ beneficiary['education'] }}</td>
		      </tr>
	      {% endfor %}
    </table>
  {% endif %}
</body>
</html>
